@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    font-family: "Inria Sans", sans-serif;
    margin: 0;
    padding: 0;
}

/* Main View */

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    height: 80vh;
}

.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    height: 100%;
}

.container h2 {
    font-family: "Josefin Slab", serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.profile-edit-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
}

.profile-edit {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-right: 20px;
}

.right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-right: 20px;
}


.buttons-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}


.buttons-wrapper a {
    width: 95%;
    align-content: start;
    text-decoration: none;
    color: white;
    font-family: 'Inria Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}



.buttons-wrapper button {
    width: 100%;
    align-content: start;
    background-color: #da592f;
    color: white;
    text-decoration: none;
    font-family: 'Inria Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

.input_placeholder {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F8F8F8;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.input_placeholder input {
    padding-left: 15px;
    width: 80%;
    background-color: #F8F8F8;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;

}

.input_placeholder input::placeholder {
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
}


.input_placeholder input:focus {
    outline: none;
}

.input_placeholder img {
    width: 20px;
    height: 20px;
}

.input_placeholder label {
    width: 80%;
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
    padding-left: 15px;
}

.input_placeholder select {
    width: 100%;
    background-color: #F8F8F8;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
}

.input_placeholder select:focus {
    outline: none;
}

.input_placeholder select option {
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
}

