@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");



body {
    font-family: "Inria Sans", sans-serif;
    margin: 0;
    padding: 0;
}

/* Main View */

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    height: 80vh;
}

.container h2 {
    font-family: "Josefin Slab", serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.menu-wrapper a {
    text-decoration: none;
}

.item-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* Menu Item */
.menu-item {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
}

/* Hover Effects */
.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(247, 135, 15, 0.4);
}


/* Menu Item Title */
.menu-item h3 {
    font-family: "Josefin Slab", serif;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 5px;
    color: #333;
}

/* Menu Item Price */
.menu-item h4 {
    font-family: "Inria Sans", sans-serif;
    font-size: 1em;
    text-align: center;
    color: #2f2f2f;
}

.menu-item span {
    font-family: "Inria Sans", sans-serif;
    font-size: 0.9em;
    text-align: center;
    color: #6e6e6e;
}


.menu-item-new {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #da592f;
    text-decoration: none;
    color: white;
}

.menu-item-new h3{
    font-family: "Inria Sans", sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: white;
    margin: 0;
}



