@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");



body {
  font-family: "Inria Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* Main View */

.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.container h2 {
  font-family: "Josefin Slab", serif;
  font-size: 2em;
  margin-bottom: 20px;
}

.searchbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchbar-container input {
  width: 50%;
  padding: 10px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  font-family: "Inria Sans", sans-serif;
  font-size: 1em;
}

.searchbar-container input:focus {
  outline: none;
  border: 1px solid #da592f;
}

.searchbar-container button {
  background-color: #da592f;
  color: white;
  font-family: "Inria Sans", sans-serif;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.searchbar-container button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu-wrapper {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  );
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 50px;
}

.menu-wrapper a {
  text-decoration: none;
}


/* Menu Item */
.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
}

/* Hover Effects */
.menu-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(247, 135, 15, 0.4);
}

/* Menu Item Image */
.menu-item img {
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Menu Item Title */
.menu-item h3 {
  font-family: "Josefin Slab", serif;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 5px;
  color: #333;
}

/* Menu Item Price */
.menu-item h4 {
  font-family: "Inria Sans", sans-serif;
  font-size: 1em;
  text-align: center;
  color: #da592f;
}

/* Responsive Design */
@media (max-width: 768px) {
  .menu-wrapper {
    grid-template-columns: repeat(
      auto-fit,
      minmax(200px, 1fr)
    );
    gap: 15px;
  }

  .menu-item img {
    width: 100px;
    height: 100px;
  }

  .menu-item h3 {
    font-size: 1em;
  }

  .menu-item h4 {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .menu-item img {
    width: 80px;
    height: 80px;
  }

  .menu-item h3 {
    font-size: 0.9em;
  }

  .menu-item h4 {
    font-size: 0.8em;
  }
}


.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  text-decoration: none;
  color: #333;
  font-family: "Inria Sans", sans-serif;
  font-size: 1em;
  padding: 10px 15px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


