@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    font-family: "Inria Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 80vh;
    padding: 50px 150px;
    background-image: url("../images/welcome_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

.back-button-container {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.back-button-container a {
    text-decoration: none;
    color: #da592f;
    font-size: 1.5em;
    font-family: "Josefin Slab", serif;
    transition: 0.5s;
}


.back-button-container a:hover {
    color: black;
}

.item-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.item-container img {
    width: 40%;
    height: 40%;
    margin-bottom: 20px;
}

.text-side-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 100px;
    width: 100%;
}

.text-side-container span {
    color: black;
    font: 48px "Josefin Slab", serif;
    font-weight: 700;
}

.text-side-container p {
    color: black;
    margin-bottom: 20px;
    font: 16px "Inria Sans", sans-serif;
    font-weight: 300;
}

.text-side-container h4 {
    font: 24px "Josefin Slab", serif;
    color: #da592f;
    font-weight: 700;
}

.text-side-container select {
    width: 40%;
    margin-bottom: 20px;
    font: 16px "Inria Sans", sans-serif;
    font-weight: 300;
    padding: 10px;
}


.text-side-container option {
    font: 16px "Inria Sans", sans-serif;
    font-weight: 300;
}
/* Counter Wrapper */
.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Space between buttons and value */
}

/* Buttons */
.counter-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px; /* Rounded corners */
    font-size: 1.5rem; /* Adjust font size */
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    transition: all 0.3s ease;
}

.counter-btn:hover {
    background-color: #f0f0f0; /* Add hover effect */
}

/* Counter Value */
.counter-value {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px; /* Rounded corners */
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
}



.primary-button {
    background-color: #000;
    width: 40%;
    color: white;
    font-family: "Inria Sans", sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 20px;
}

.primary-button:hover {
    background: #1f1f1f;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
    text-shadow: -1px -1px 0 #2c2c2c;
    transition: all 250ms linear;
}


.catalog-item-form-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: start;
    width: 100%;
}
