@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Inria Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* primary-button */
.primary-button {
  background-color: #000;
  width: 40%;
  color: white;
  font-family: "Inria Sans", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  height: 50px;
  cursor: pointer;
  margin-bottom: 20px;
}

.primary-button:hover {
  background: #1f1f1f;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  color: white;
  text-decoration: none;
  text-shadow: -1px -1px 0 #2c2c2c;
  transition: all 250ms linear;
}


/* WILKOMMEN TEIL */

.welcome-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-image: url("/images/welcome_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.welcome-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.welcome-container-left {
  display: flex;
  justify-content: left;
  align-items: start;
  flex-direction: column;
  width: 50%;
  padding: 0 150px;
}

.welcome-container-left h1 {
  font-size: 3rem;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
}

.welcome-container-left span {
  color: #da592f;
}

.welcome-container-left h4 {
  font-weight: 400;
  color: black;
  margin-bottom: 20px;
  font: 16px "Inria Sans", sans-serif;
}

.welcome-container-left a {
  width: 100%;
}

/* RIGHT */

.welcome-container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding-right: 150px;
}

.welcome-container-right img {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  max-width: 80%;
  height: auto;
}

.welcome-container-right img:hover {
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(15deg) scale(1.4);
}

/* WILKOMMEN TEIL END */

/* Menü teil start*/

h2 {
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
  font: 36px "Josefin Slab", serif;
  font-weight: 600;
  padding-left: 150px;
  padding-top: 60px;
}

.menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  margin-top: 50px;
}

.menu-item {
  flex: 1 1 calc(20% - 15px); /* Responsive sizing */
  max-width: calc(20% - 15px); /* Ensure no overlap */
  min-width: 150px;
  height: 350px;
  border-radius: 50px;
  background: #f28663;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-item a {
  text-decoration: none;
  color: black;
}

.menu-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.weiter-img img {
  width: 50px;
  height: 50px;
}

.menu-item:hover {
  background: #da592f;
  -webkit-transform: scale(1.1);
  box-shadow: 12px 11px 18.1px 0 rgba(218, 89, 47, 0.34);
  transition: 0.5s;
}

.primary-button-wrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-button-wrapper a {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

/*  Menü teil end */

/* Banner Teil start */

.banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.banner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  background-color: #da592f;
  border-radius: 50px;
  margin: 0 150px;
  padding-right: 50px;
}

.banner-container img {
  width: 50%;
  height: 60%;
}

.banner-text-and-button {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.banner-text-and-button p {
  font-weight: 700;
  color: white;
  margin-bottom: 40px;
  font: 36px "Josefin Slab", serif;
  font-weight: 600;
}

.banner-text-and-button button {
  width: 20%;
  text-transform: uppercase;
}

/* BANNER TEIL END */

/* WHY US TEIL START */

.why-us-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.why-us-wrapper h2 {
  font-weight: 700;
  margin-bottom: 10px;
  font: 48px "Josefin Slab", serif;
  font-weight: 600;
  padding: 0;
}

.why-us-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.why-us-item {
  flex: 1 1 calc(20% - 15px); /* Responsive sizing */
  max-width: calc(20% - 15px); /* Ensure no overlap */
  min-width: 150px;
  padding: 10px 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  text-align: center;
}

.why-us-item img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.why-us-item h3 {
  font-weight: 700;
  color: black;
  font: 20px "Josefin Slab", serif;
  font-weight: 600;
}

.why-us-item p {
  color: black;
  margin-bottom: 20px;
  font: 16px "Inria Sans", sans-serif;
  height: 100px;
  font-weight: 300;
}

/* WHY US TEIL END */

/* Responsive Design */

@media (max-width: 1200px) {
  .welcome-container {
    flex-direction: row-reverse;
    text-align: center;
    padding: 20px;
    width: 70%;
  }

  .welcome-container-left, .welcome-container-right {
    width: 100%;
    padding: 20px 0;
  }

  .welcome-container-left {
    justify-content: center;
    align-items: center;
  }

  .welcome-container-left h1 {
    font-size: 1.5rem;
  }

  .welcome-container-left h4 {
    font-size: 14px;
  }

  .welcome-container-right img {
    max-width: 50%;
  }
}

@media (max-width: 768px) {

  .welcome-container {
    flex-direction: column;
    height: 100px;
    padding: 20px 0;
  }

  .welcome-container-left h1 {
    font-size: 2rem;
  }

  .welcome-container-left h4 {
    font-size: 12px;
  }

  .welcome-container-right img {
    max-width: 60%;
  }

}

@media (max-width: 480px) {

  .welcome-wrapper {
    flex-direction: column;
  }
  .welcome-container-left h1 {
    font-size: 1.8rem;
  }

  .welcome-container-left h4 {
    font-size: 11px;
  }

  .welcome-container-right img {
    visibility: hidden;
  }
}
