@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    font-family: "Inria Sans", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Main View */

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 80vh;
}

.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    height: 50vh;
    margin: 0 auto;
    text-align: center;
}

.container h2 {
    font-family: "Josefin Slab", serif;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.container iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 10px;
}

.container span {
    font-family: "Inria Sans", sans-serif;
    font-size: 1em;
    margin-bottom: 20px;
}
