@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background-color: #DA592F;
    font-family: 'Inria Sans', sans-serif;
}

.container-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: white;
    height: 70vh;
    padding: 40px 70px;
    width: 50vw;
    border-radius: 20px;
    text-align: center;
}

.container h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.input_placeholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F8F8F8;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.input_placeholder input {
    padding-left: 15px;
    width: 80%;
    background-color: #F8F8F8;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
    
}

.input_placeholder input::placeholder {
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
}


.input_placeholder input:focus {
    outline: none;
}

.input_placeholder img {
    width: 20px;
    height: 20px;
}


.primary-button {
    background-color: #000;
    width: 40%;
    color: white;
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 20px;
}

.primary-button:hover {
    background: #1f1f1f;
    border: 1px solid rgba(0, 0, 0, .05);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, .2);
    color: white;
    text-decoration: none;
    text-shadow: -1px -1px 0 #2C2C2C;
    transition: all 250ms linear;
}


.login-button {
    width: 40%;
    align-content: start;
    color: black;
    text-decoration : none;
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    height: 50px;
    cursor: pointer;
}

.all-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.left-side{
    width: 45%;
}

.right-side{
    width: 45%;
} 

.house-nr-postcode-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.house-nr-postcode-container .input_placeholder {
    width: 45%;
}

.buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.buttons .primary-button {
    width: 20%;
}