@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Inria Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.form__label {
  font-size: 1rem;
  margin-left: 3rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: "Inria Sans", sans-serif;
  color: #333;
  font-size: 1rem;
  margin: 0 auto;
  padding: 10px;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.form__input:focus {
  outline: none;
  border-bottom: 0.3rem solid #ff7a00;
}


.form__input__file {
  display: none;
}

.form__label__file {
  font-family: "Inria Sans", sans-serif;
  color: #333;
  font-size: 1rem;
  margin: 0 auto;
  padding: 10px;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  text-align: start;
  cursor: pointer;
}



.form__label__file:hover {
  background-color: #e66a00;
}

.form__label__file:active {
  transform: scale(0.95);
}

.form__file-text {
  display: block;
  font-size: 0.9rem;
  margin-top: 10px;
  margin-left: 3rem;
  color: #333;
}

.form__row {
  width: 95%;
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Adds spacing between inputs */
}

.form__group {
  margin-top: 15px;
}

/* Individual input group */
.form__group__price {
  flex: 1; /* Makes each input equal width */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.btn {
  width: 40%;
  font-family: "Inria Sans", sans-serif;
  font-size: 1rem;
  color: white;
  padding: 10px 20px;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #ff7a00;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  transition: all 0.3s;
}