@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Inria Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

.responsive-table {
    padding: 0;
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .table-header {
    background-color: #a7fff8;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 15%;
  }
  .col-4 {
    flex-basis: 35%;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row {
    }
    li {
      display: block;
    }
    .col {
      flex-basis: 100%;
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}

.btns {
    grid: 1fr / repeat(4, 1fr);
    gap: 10px;

}

.btn-view {
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-view:hover {
    background-color: #27ae60;
    transition: 0.3s;
}

.btn-edit {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-edit:hover {
    background-color: #2980b9;
    transition: 0.3s;
}

.btn-archive {
    background-color: #ffd105;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-archive:hover {
    background-color: #be9b03;
    transition: 0.3s;
}

.btn-delete {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-delete:hover {
    background-color: #c0392b;
    transition: 0.3s;
}

.search-box-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.search-box-container input {
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
}

.search-box-container input::placeholder {
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
}

.search-box-container button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #2980b9;
    color: white;
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
}

.search-box-container button:hover {
    background-color: #3498db;
    transition: 0.3s;
}
