@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Inria Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 20px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.container h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}


.editable-image {
    margin: 20px 0;
    width: 90%;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editable-image img {
    height: 300px;
}
